@font-face {
  font-family: "senregular";
  src: url("../polices/sen-regular-webfont.woff2") format("woff2"),
    url("../polices/sen-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "senbold";
  src: url("../polices/sen-bold-webfont.woff2") format("woff2"),
    url("../polices/sen-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "senextrabold";
  src: url("./polices/sen-extrabold-webfont.woff2") format("woff2"),
    url("./polices/sen-extrabold-webfont.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}
