footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    color: white;
    // border: 2px solid red;
    font-size: max(1vw, 12px);
  }
}

@media (max-width: 768px) {
  footer {
    p {
      font-size: max(1.8vw, 8px);
    }
  }
}
